.topbar {
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, rgb(0, 89, 195), rgb(0, 163, 215));
    color: white;
    padding: 2vh 0;
}

.topbar > h1 {
    margin: 0;
}

.mainLayout {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

a {
    text-decoration: none;
}

.online {
    color: green
}

.offline {
    color: red;
}

.login, .register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 24px;
    gap: 8px;
}

.authForm {
    display: flex;
    flex-direction: column;
    gap: 4px;
    background-color: rgb(250, 250, 250);
    border: 2px solid rgb(250, 250, 250);
    padding: 16px;
}

.formGroup {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4px 0;
    font-weight: bold;
    gap: 8px;
}

.authForm > input[type='submit'] {
    align-self: end;
}

input[type='checkbox'] {
    justify-self: end;
}

.newChat {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 8px;
    line-break: anywhere;
}

.userImage {
    border-radius: 50%;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    gap: 4px;
}

.chat {
    display: flex;
    flex-direction: column;
    line-break: anywhere;
    height: 80vh;
    max-height: 80vh;
    margin: 12px
}

.messages {
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
}

.user {
    padding: 24px;
    line-break: anywhere;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.userEdit {
    width: 100%;
}

.userEdit > form {
    align-items: center;
}

.chat > h2 {
    margin: 0;
}

.hidden {
    display: none;
}

@media (max-width: 930px) {
    .mainLayout {
        display: flex;
        flex-direction: column;
    }
}