.topbar {
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, #1e90ff, #00c6ff);
    padding: 2vh 0;
}

.mainLoggedIn {
    display: grid;
    grid-template-columns: 1fr 4fr;
}